/*------------------------------------------
::
:: 	UI > Grid
::
--------------------------------------------*/
$col: 3.7559%; $colpad: 2.3474%;
$row: 6.5574%; $rowpad: 4.0984%;

/*------------------------------------------
::	mtrx & statx
--------------------------------------------*/
@mixin columns 		($number) 	{ width: ($colpad * ($number - 1)) + ($col * $number); }
@mixin rows 		($number) 	{ height: ($rowpad * ($number - 1))  + ($row * $number); }
@mixin offset 		($number)	{ margin-left: ($colpad * ($number + 1)) + ($col * $number); }
@mixin offset-right	($number)	{ margin-right: ($colpad * ($number + 1)) + ($col * $number); }
@mixin down 		($number)	{ top: ($rowpad * ($number + 1)) + ($row * $number); }
@mixin up 			($number)	{ bottom: ($rowpad * ($number + 1)) + ($row * $number); }
@mixin right 		($number)	{ left: ($colpad * ($number + 1)) + ($col * $number); }
@mixin left 		($number)	{ right: ($colpad * ($number + 1)) + ($col * $number); }
@mixin mtrx 		($right, $down, $columns, $rows) { 
		position:absolute; 
		@if $right == auto {} @else if $right < 0 { @include left(-$right); } @else { @include right($right); }
		@if $down == auto {} @else if $down < 0 { @include up(-$down); } @else { @include down($down); }
		@if $columns != auto { @include columns($columns); }
		@if $rows != auto { @include rows($rows); }
		@include transition((top 400ms, right 400ms, bottom 400ms, left 400ms, width 400ms, height 400ms));
}
@mixin statx 		($offset, $columns) { 
		@if $offset < 0 { @include offset-right($offset); float:right; } @else { @include offset($offset); float:left; }
		@if $columns != auto { @include columns($columns); }
}

