/*------------------------------------------
::
:: 	UI > Grid
::
--------------------------------------------*/
$rows: 9;
$columns: 16;

$max-width: 1218px;
$transition: true;

$colwidth: 3.7559%; 	$colpad: 2.3474%;
$rowheight: 6.5574%; 	$rowpad: 4.0984%;

/*------------------------------------------
::	wrapper
--------------------------------------------*/
@mixin wrapper		() 	{ position: relative; max-width: $max-width * ((100% + ($colpad * 2))/100%); margin: 0 auto; width: 100%;  }

/*------------------------------------------
::	columns
--------------------------------------------*/
@mixin columns 		($number) 	{ 
	@if $number == 'one-third' {
		width: (100% - ($colpad * 4))/3; 
	} @else {
		width: ($colpad * ($number - 1)) + ($colwidth * $number); 	
	}
}

/*------------------------------------------
::	offsets
--------------------------------------------*/
@mixin offset 		($number)	{ margin-left: ($colpad * ($number + 1)) + ($colwidth * $number); }
@mixin offset-right	($number)	{ margin-right: ($colpad * ($number + 1)) + ($colwidth * $number); }

/*------------------------------------------
::	rows
--------------------------------------------*/
@mixin rows 		($number) 	{ 
	@if $number == 'one-third' {
		height: (100% - ($rowpad * 4))/3; 
	} @else {
		height: ($rowpad * ($number - 1))  + ($rowheight * $number);  	
	}
}

/*------------------------------------------
::	positioning
--------------------------------------------*/
@mixin down 		($number)	{ top: ($rowpad * ($number + 1)) + ($rowheight * $number); }
@mixin up 			($number)	{ bottom: ($rowpad * ($number + 1)) + ($rowheight * $number); }
@mixin right 		($number)	{ left: ($colpad * ($number + 1)) + ($colwidth * $number); }
@mixin left 		($number)	{ right: ($colpad * ($number + 1)) + ($colwidth * $number); }

/*------------------------------------------
::	grid
--------------------------------------------*/
@mixin grid 		($offset, $columns) { 
	@if $offset < 0 { @include offset-right($offset); float:right; } @else { @include offset($offset); float:left; }
	@if $columns != auto { @include columns($columns); }
	@if $transition { @include transition((margin 400ms, width 400ms)); }
	.reset {

	}
}

/*------------------------------------------
::	matrix
--------------------------------------------*/
@mixin matrix 		($right, $down, $columns, $rows) { 
	position:absolute; 
	@if $right == auto {} @else if $right < 0 or $right == -0 { @include left(-$right); } @else { @include right($right); }
	@if $down == auto {} @else if $down < 0 or $down == -0 { @include up(-$down); } @else { @include down($down); }
	@if $columns != auto { @include columns($columns); }
	@if $rows != auto { @include rows($rows); }
	@if $transition { @include transition((top 400ms, right 400ms, bottom 400ms, left 400ms, width 400ms, height 400ms)); }
	.reset {

	}
}


