/*------------------------------------------
::
:: 	UI > Components > Reset
::
--------------------------------------------
:: 	Reset Mixins
--------------------------------------------*/
@mixin reset-box() {
	@include box-sizing(content-box); margin:0; padding:0; 
}
@mixin reset-text() {
	font-weight:normal; font-style: normal;
	color: #000;
	text-align: left; text-decoration: none; text-indent: 0; text-transform: none;
	line-height: 1em; letter-spacing: normal; word-spacing:normal; @include text-size-adjust(100%);
}
@mixin reset-decoration() {
	background: transparent no-repeat fixed center; 
	border: 0; border-radius: 0; outline: 0; outline-offset:0;
	box-shadow: none;
}

/*------------------------------------------
:: 	Extendable Classes
--------------------------------------------*/
.reset-box { @include reset-box(); }
.reset-text { @include reset-text(); color: blue; }
.reset-decoration { @include reset-decoration(); }

/*------------------------------------------
:: 	Targeted Resets
--------------------------------------------*/
html, body, article, audio, canvas, video, legend, section, nav, footer, 
aside, blockquote, form, header, figure, figcaption, code, kbd, pre, samp {
	@extend .reset-box; display:block;
} 
h1, h2, h3, h4, h5, h6, p, ol, ul, li { 
	@extend .reset-box; @extend .reset-text; display:block;
}
b, strong, em, span, i, em, abbr, acronym, small, a, del, ins, q, label, 
address, caption, cite  {
	@extend .reset-box; @extend .reset-text;
}
fieldset, hr, iframe, table, thead, tbody, td, th, img { 
	 @extend .reset-box; @extend .reset-decoration; @extend .reset-text;
}

/*------------------------------------------
:: 	Hover Anchors/Buttons
--------------------------------------------*/
a, button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
a:hover, a:active, a:focus, a::-moz-focus-inner { text-decoration:none; color: #000;  }

/*------------------------------------------
:: 	Selects and Inputs
--------------------------------------------*/
select, select:hover, select:active, select:focus, 
option, option:hover, option:active, option:focus, 
input, input:hover, input:active, input:focus, 
button, button:hover, button:active, button:focus,
textarea, textarea:hover, textarea:active, textarea:focus { 
	@extend .reset-box; @extend .reset-text; @extend .reset-decoration; 
	font: inherit; color: inherit;
}

/*------------------------------------------
:: 	Disable Select, Mobile Highlights
--------------------------------------------*/
html, body { 
	font: 1em 'Helvetica', Arial, sans-serif;
	@extend .reset-text;
}

body * { 
	@include backface-visibility(hidden); 
	@include user-select(none); 
	-webkit-tap-highlight-color: transparent; 
	font-size: 16px;
}

/*------------------------------------------
:: 	Special Cases
--------------------------------------------*/
img { display:block; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul, li { list-style:none; display:block; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre-wrap; }
code, kbd, pre, samp { font-family: monospace, serif; }
hr { height: 0; }
textarea { overflow: auto; vertical-align: top; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }



